@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors;
}

body {
  @apply bg-slate-950 text-slate-100 font-sans;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
