@import "tailwindcss";

* {
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;
}

body {
  background-color: #020617;
  color: #f1f5f9;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}
